In [1]:
from pymongo import MongoClient
import pandas as pd
from pandas.io.json import json_normalize

Importing new merged DataFrame.

In [2]:
client = MongoClient('localhost', 27017)
collection = client['companies'].companies_v2
data = pd.DataFrame(list(collection.find()))
data = data[['name', 'founded_year', 'category_code', 'number_of_employees', 'rounds', 'total_raised_MnUSD', 'round_average_MnUSD', 
             'type: 1: startup, 2: small/mid corp, 3:big corp', 'latitude', 'longitude', 'geojson']]
data.head()

,name,founded_year,category_code,number_of_employees,rounds,total_raised_MnUSD,round_average_MnUSD,"type: 1: startup, 2: small/mid corp, 3:big corp",latitude,longitude,geojson
0,Geni,2006,web,18,3.0,16.5,5.5,2,34.090368,-118.393064,"{'type': 'Point', 'coordinates': [-118.393064,..."
1,Facebook,2004,social,5299,10.0,2325.7,232.6,3,37.416050,-122.151801,"{'type': 'Point', 'coordinates': [-122.151801,..."
2,Twitter,2006,social,1300,7.0,760.2,108.6,3,37.776805,-122.416924,"{'type': 'Point', 'coordinates': [-122.4169244..."
3,Plaxo,2002,web,50,4.0,28.3,7.1,2,37.387845,-122.055197,"{'type': 'Point', 'coordinates': [-122.055197,..."
4,Facebook,2004,social,5299,10.0,2325.7,232.6,3,40.755716,-73.979247,"{'type': 'Point', 'coordinates': [-73.9792469,..."

Defining a function geo query to get number of near companies of each company (3km around).

In [3]:
def get_near_companies(geojson):
    nearcomps = pd.DataFrame(list(collection.find(
        {'geojson': 
         { '$near': 
          {'$geometry': geojson, '$maxDistance': 3000}}}, 
        {'name'})))
    return len(nearcomps)

Function geo query to get the sum of the total number employees of the companies around each company of the DataFrame.

In [4]:
def get_near_employees(geojson):
    nearemps = pd.DataFrame(list(collection.find(
        {'geojson': 
         { '$near': 
          {'$geometry': geojson, '$maxDistance': 3000}}})))
    return sum(nearemps['number_of_employees'])

Function to get ratio startup/big corp of each company of DataFrame. This is a special ratio where equal number of startups for each big corp is valued at '2'.

In [5]:
def get_ratio(geojson):
    ratio = pd.DataFrame(list(collection.find(
        {'geojson': 
         { '$near': 
          {'$geometry': geojson, '$maxDistance': 3000}}})))
    return sum(ratio['type: 1: startup, 2: small/mid corp, 3:big corp'])/len(ratio)

Function to get ratio startup/big corp of each company of DataFrame. This is a special ratio where equal number of startups for each big corp is valued at '2'.

In [6]:
def get_investments(geojson, tipo=1):
    investments = pd.DataFrame(list(collection.find(
        {'geojson': 
         { '$near': 
          {'$geometry': geojson, '$maxDistance': 3000}}})))
    investments = investments[investments['type: 1: startup, 2: small/mid corp, 3:big corp']==1]    
    return investments.total_raised_MnUSD.sum()

Calling all functions.

In [7]:
data['near_companies'] = data['geojson'].apply(lambda x: get_near_companies(x))
data['employees'] = data['geojson'].apply(lambda x: get_near_employees(x))
data['ratio'] = data['geojson'].apply(lambda x: get_ratio(x))
data['investments'] = data['geojson'].apply(lambda x: get_investments(x))

Here we drop all the points with less than 50 companies around and we create the column ratio2 with the distance to the startup/big corp ratio desired.

In [8]:
min_near_companies = 20
data_final = data[(data['near_companies'] > min_near_companies)]
data_final['ratio_distance'] = ((data_final['ratio']-2)**2)**(1/2)

/usr/local/Cellar/ipython/7.4.0/libexec/vendor/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

Getting a new DataFrame with all values with a distance to perfect equallity of more than 1 points.

1 point ratio distance means that # startups or # big corps doubles the other.

In [9]:
max_ratio_distance = 1
data_final = data_final[(data_final['ratio_distance'] < max_ratio_distance)]
data_final = data_final.sort_values(by='investments', ascending=False)
data_final.index=range(len(data_final))
data_final.head()

,name,founded_year,category_code,number_of_employees,rounds,total_raised_MnUSD,round_average_MnUSD,"type: 1: startup, 2: small/mid corp, 3:big corp",latitude,longitude,geojson,near_companies,employees,ratio,investments,ratio_distance
0,GoLark,2007,web,3,NaN,0.0,0.0,2,40.750800,-73.996122,"{'type': 'Point', 'coordinates': [-73.996122, ...",43,6974,1.790698,54.0,0.209302
1,Hunch,2007,web,23,3.0,19.2,6.4,2,40.741179,-73.993182,"{'type': 'Point', 'coordinates': [-73.993182, ...",43,7132,1.837209,48.4,0.162791
2,VISUALPLANT,2000,games_video,6,1.0,0.5,0.5,2,40.738476,-73.998726,"{'type': 'Point', 'coordinates': [-73.998726, ...",43,7200,1.837209,48.4,0.162791
3,ChallengePost,2009,web,17,2.0,4.6,2.3,1,40.740804,-74.007170,"{'type': 'Point', 'coordinates': [-74.00717, 4...",44,7110,1.840909,48.4,0.159091
4,Phreesia,2005,software,70,5.0,42.6,8.5,2,40.739794,-73.985878,"{'type': 'Point', 'coordinates': [-73.985878, ...",43,7132,1.837209,48.4,0.162791

Exporting the DataFrame to a CSV

In [10]:
def toCSV(data):
    data.to_csv('final.csv')

toCSV(data_final)

In [11]:
data_final.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 111 entries, 0 to 110
Data columns (total 16 columns):
name                                               111 non-null object
founded_year                                       111 non-null int64
category_code                                      111 non-null object
number_of_employees                                111 non-null int64
rounds                                             100 non-null float64
total_raised_MnUSD                                 111 non-null float64
round_average_MnUSD                                111 non-null float64
type: 1: startup, 2: small/mid corp, 3:big corp    111 non-null int64
latitude                                           111 non-null float64
longitude                                          111 non-null float64
geojson                                            111 non-null object
near_companies                                     111 non-null int64
employees                                          111 non-null int64
ratio                                              111 non-null float64
investments                                        111 non-null float64
ratio_distance                                     111 non-null float64
dtypes: float64(8), int64(5), object(3)
memory usage: 14.0+ KB